body {
  position: fixed;
  width: 100%;
  border-radius: 10%;
}

/* In navbar.css */
.custom-margin {
  margin: 15px; 
}

/* In navbar.css */
.custom-bg-dark {
  background-color: #1a1a1a; 
  color: #ffffff; 
}

.custom-bg-dark .nav-link {
  color: #ffffff; 
}

.custom-bg-dark .nav-link:hover {
  color: #cccccc; /
}
